<div class="container" *transloco="let t; scope: 'about'">
  <h2>{{t('about.title')}}</h2>
  <div class="card">
    <!-- <div class="card-header"> -->
    <!-- {{t('about.title')}} -->
    <!-- </div> -->
    <div class="card-body">
      <p>{{t('about.description.paragraph1')}}</p>
      <p>{{t('about.description.paragraph2')}}</p>
      <p>{{t('about.description.paragraph3')}}</p>
      <p class="m-0">{{t('about.description.paragraph4')}}</p>
      <!-- {{t('about.description')}} -->
    </div>
  </div>
</div>

<!-- <p>¡Hola! Mi nombre es Juan Zapata, soy un desarrollador web front-end y back-end que realmente disfruta diseñar páginas web y servicios que hacen que las cosas se vean increíbles y funcionen perfectamente bien.
    
     He formado parte de equipos de trabajo como integrante y también como líder o coordinador, buscando soluciones para una variedad de clientes y utilizando diferentes tipos de tecnologías, frameworks y lenguajes de programación.
    
     También puedes encontrarme como Akiraz14, como mi apodo en algunas redes sociales.
    
     Tengo mucho interés en viajar, mejorar mi inglés, conocer nuevos lugares y culturas, ver documentales, películas y series, estudiar y aprender cosas nuevas y también cocinar comida deliciosa.</p>
  </div> -->