<div class="container" *transloco="let t; scope: 'about'">
  <h2 class="text-color-1 text-border-2">{{t('about.title')}}</h2>
  
  <div class="card custom-shadow">
    <div class="card-body">
      <h4 class="text-color-2">{{t('about.greeting')}}</h4>
      <br>
      <p>{{t('about.myNameIs')}} <span class="text-color-1">Juan Zapata</span>. {{t('about.description.paragraph1')}}</p>
      <p>{{t('about.description.paragraph2')}}</p>
      <p>{{t('about.description.paragraph3_1')}} <span class="text-color-1">Akiraz14</span>, {{t('about.description.paragraph3_2')}}</p>
      <p class="m-0">{{t('about.description.paragraph4')}}</p>
    </div>
  </div>
</div>
