<div class="container" *transloco="let t; scope: 'education'">
  <h2 class="text-color-1 text-border-2">{{t('education.title')}}</h2>

  <div class="container text-center mt-3">

    <div class="row">
      <h3 class="text-color-3 text-border-2">{{t('education.collage')}}</h3>
      <div class="col" *ngFor="let collEducation of collageDegrees">
        <div class="card custom-shadow mt-4">
          <div class="card-body">
            <h4 class="card-title border-bottom pb-2">{{collEducation.title}}</h4>
            <p class="card-text text-body-secondary">{{collEducation.at}}</p>
          </div>
          <div class="card-footer text-body-tertiary">
            {{collEducation.date}}
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <h3 class="text-color-3 text-border-2">{{t('education.courses')}}</h3>
      <div class="col-12 col-md-4" *ngFor="let devEducation of developerDegrees">
        <div class="card custom-shadow mt-4">
          <div class="card-body">
            <h4 class="card-title border-bottom pb-2">{{devEducation.title}}</h4>
            <p class="card-text text-body-secondary">{{devEducation.at}}</p>
          </div>
          <div class="card-footer text-body-tertiary">
            {{devEducation.date}}
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <h3 class="text-color-3 text-border-2">{{t('education.language')}}</h3>
      <div class="col" *ngFor="let langEducation of languageDegrees">
        <div class="card custom-shadow mt-4">
          <div class="card-body">
            <h4 class="card-title border-bottom pb-2">{{langEducation.title}}</h4>
            <p class="card-text text-body-secondary">{{langEducation.at}}</p>
          </div>
          <div class="card-footer text-body-tertiary">
            {{langEducation.date}}
          </div>
        </div>
      </div>
    </div>

  </div>


</div>