<div *transloco="let t" class="d-flex flex-column justify-content-center p-4 card custom-shadow border-0">

  <div class="mx-3">
    <h3 class="text-color-2">{{t('greeting')}}</h3>
    <h1 class="text-end">Juan Zapata</h1>
    <h4 class="text-end text-secondary">{{t('profession')}}</h4>
  </div>

  <div class="m-3 mt-5">
    <h2 class="text-color-1">{{t('welcome')}}</h2>
  </div>
  <div class="m-3">
    <ul class="home-menu">

      <li *ngFor="let item of menuItems">
        <a [href]="'#'+item.route" (click)="scrollToSection(item.route, $event)">
          {{t('sidemenu.items.'+item.title)}}
        </a>
      </li>

    </ul>
  </div>
</div>