.home-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-border-radius-pill);
  background: var(--bs-body-bg);
  overflow: hidden;

  a {
    display: inline-block;
    padding: 10px 15px;
    color: currentColor;
    text-decoration: none;
    
    &:hover {
      background-color: var(--bs-secondary);
    }
  }

  li {
    list-style: none;
    // cursor: pointer;

    &:nth-child(1) a { padding-left: 20px; }
    &:nth-last-child(1) a { padding-right: 20px; }
    &:nth-child(n+2) {
      border-left: var(--bs-card-border-width) solid var(--bs-card-border-color);
    }
  }

}
