/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Kalam', cursive;
}

.kalam-light {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}

.custom-shadow {
  // -webkit-box-shadow: 10px 10px 10px -1px currentColor;
  // -moz-box-shadow: 10px 10px 10px -1px currentColor;
  box-shadow: 4px 4px 10px -4px currentColor;
}
